/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        scroll-behavior: smooth;
    }

	.customBtn {
        border: 1px solid transparent;
        text-align: center;
        font-weight: 600;
        white-space: nowrap;
        transition: color 0.25s, border-color 0.25s, background-color 0.25s;
    }
	.customBtn.medium {
        border-radius: 20px;
        padding: 0 20px;
        line-height: 38px;
        font-size: 14px;
    }
    .customBtn.brand {
        border-color: var(--vp-button-brand-border);
        color: var(--vp-button-brand-text);
        background-color: var(--vp-button-brand-bg);
    }
    .customBtn.brand:hover {
        border-color: var(--vp-button-brand-hover-border);
        color: var(--vp-button-brand-hover-text);
        background-color: var(--vp-button-brand-hover-bg);
    }
	.customBtn.alt {
		border-color: var(--vp-button-alt-border);
		color: var(--vp-button-alt-text);
		background-color: var(--vp-button-alt-bg);
	}
	.customBtn.alt:hover {
		border-color: var(--vp-button-alt-hover-border);
		color: var(--vp-button-alt-hover-text);
		background-color: var(--vp-button-alt-hover-bg);
	}

    .copyText {
        background-color: var(--vp-button-brand-bg);
        color: var(--vp-button-brand-text);
        @apply absolute top-0 left-0 right-0 bottom-0 block flex items-center justify-center duration-300 opacity-0;
    }

    .customBg {
        background-color: var(--vp-c-brand);
    }
    .customHoverBg:hover {
        background-color: var(--vp-button-brand-hover-bg);
    }

    @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity: 1;}
      }
    .fadeIn {
        animation-name: fadeIn;
        animation-duration: 1s;
    }

    @keyframes bluffing {
        from {opacity: 0;}
        to {opacity: 1;}
      }
    .bluffing {
        animation-name: bluffing;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
}


/* customizing navbar */
.VPNavBarMenu.menu {
    width: 100%;
    justify-content: flex-end;
}
#docsearch {
    padding-left: 15px;
}

.VPSocialLinks.VPNavBarSocialLinks.social-links {
    min-width: 61px;
}

@media only screen and (max-width: 767px) {
    #docsearch span:last-child{
        display: none;
    }
    .modal-back .modal {
        max-width: calc(100% - 50px)!important;
        border-radius: 6px!important;
    }
}

.VPFeature .VPImage {
    width: 48px!important;
    height: 48px!important;
    object-fit: contain;
}